<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="clock"></div>
</body>
<script>
    window.onload = function () {
        setInterval(function () {
            // 创建ajax对象 0
            var xhr = new XMLHttpRequest();
            // 指定参数 1
            xhr.open('GET', '/clock', true);
            xhr.onreadystatechange = function () {
                if (4 == xhr.readyState) {
                    if( 200 == xhr.status){
                        document.querySelector("#clock").innerHTML = xhr.responseType;
                    }else{
                        document.querySelector("#clock").innerHTML = xhr.statusText;
                    }

                }
            };
            // 指定请求体发送数据
            xhr.send()
        }, 1000)
    }


</script>
</html>