<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello
</body>
 <!--固定src链接，文件在nodemodule中-->
<script src="/socket.io/socket.io.js"></script>
<script>
    window.onload = function () {
        // io由引入的script写入
        var socket = io.connect('/');
        socket.on('connect',function () {
            document.write('连接成功')
        });
        socket.on('message',function (msg) {
            console.log(msg)
        })
    }
</script>
</html>